@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-Inter {
    font-family: "Inter", sans-serif;
}

.primary-btn {
    background-color: #E6533C;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin: 5px;
}

.secondary-btn {
    background: none;
    color: white;
    padding: 12px 40px;
    border: 1px solid white;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin: 5px;
}

.h-color {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.t-color {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

header {
    background: linear-gradient(to top, #000000, #777777);
    padding: 60px 190px 0 190px;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-weight: 800;
    color: #E6533C;
    width: 123px;
    height: 43px;
    font-size: 43px;
}

.nav-element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 47px;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 465px;
    border-radius: 39px;
}

.nav-element li {
    list-style: none;
}

.nav-element li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

nav .active {
    color: white;
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 20px;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    color: white;
    font-size: 78px;
    font-weight: 700;
}

.hero-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.hero-image {
    position: relative;
}

.workout-image {
    position: absolute;
    top: 125px;
    left: 230px;
}


.tutorial-image {
    position: absolute;
    bottom: 63px;
    right: 265px;
}

/* Habit Section */
.habit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
    padding: 100px 0;
}

.habit-text {
    margin-bottom: 58px;
}

.habit-title {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin: 0 300px;
}

.habit-image {
    display: flex;
    gap: 40px;
    margin: 0 198px;
}

.habit-image .image-title {
    color: white;
    margin-top: 30px;
}

.habit-image .image-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

#habit-1,
#habit-2,
#habit-3,
#habit-4 {
    border: 1px solid #191919;
    border-radius: 100px;
}

.run-parent {
    background-color: #000000;
    padding: 100px 500px;
}

.run-section {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: #292929;
    border-radius: 10px;
}

.run-p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

.training-section {
    background-color: #000000;
    padding: 50px 500px;
}

.workout-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 50px 0;
}

.item {
    position: relative;
    overflow: hidden;
    height: 230px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay */
.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: #ececec;
    font-weight: 600;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

/* Different overlay colors */
.green {
    background: rgba(0, 255, 150, 0.3);
}

.red {
    background: rgba(255, 0, 0, 0.3);
}

.blue {
    background: rgba(0, 0, 255, 0.3);
}

.dark {
    background: rgba(0, 0, 0, 0.4);
}

.cyan {
    background: rgba(0, 255, 255, 0.3);
}

/* Hover effect */
.item:hover .overlay {
    background: rgba(0, 0, 0, 0.55);
    padding-bottom: 30px;
}

.bmi-section {
    background-color: #222222;
    padding: 100px 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bmi-chart {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.bmi-chart tr {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.bmi-chart th {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    color: white;
}

.bmi-chart td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    color: rgba(255, 255, 255, 0.5);
}

.input-style {
    height: 48px;
    width: 280px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #383838;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    margin: 5px;
}

.meet-section {
    background-color: #000000;
    padding: 100px 0;
}

.all-member {
    border-radius: 20px;
    padding: 20px;
}

.meet-head {
    text-align: center;
    padding: 50px 0;
}

.member-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.team-member {
    position: relative;
    margin: 10px 0;
}

.team-member h4 {
    position: absolute;
    color: white;
    top: 10px;
    left: 20px;
    margin-top: 220px;
    text-align: center;
}

.team-member p {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    top: 20px;
    left: 20px;
    margin-top: 250px;
    text-align: center;
}

.member-image {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
footer{
    background-color: #000000;
}
.footer-section{
    background-color: #191919;
}
.footer-content{
    padding: 50px 300px;
    color: white;
    display: flex;
    justify-content: space-between;
}